<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ "/#about" | prepend: site.baseurl }}">About</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ "/#contact" | prepend: site.baseurl }}">Contact</a></li>
<!--      <li class="navbar-item">
        <a class="navbar-link" href="#">Practice Areas</a>
        <div id="codeNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="{{ "/#" | prepend: site.baseurl }}">Appeals</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="{{ "/criminal-defense" | prepend: site.baseurl }}">Criminal Defense</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="{{ "/#" | prepend: site.baseurl }}">Civil Litigation</a>
            </li>
          </ul>
        </div>
      </li> -->
      <li class="navbar-item"><a class="navbar-link" href="{{ "/#" | prepend: site.baseurl }}">Blog</a></li>
      <li class="navbar-item"><a class="navbar-link" href="https://kingesq.freshbooks.com/">Payments &amp; Invoices</a></li>
    </ul>
  </div>
</nav>
