<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container" id="namebanner">
      <div class="row">
        <div class="twelve columns">
          <a href="{{ "/" | prepend: site.baseurl }}">
            <img style="width: 30%; height: auto;" src="{{ "/images/logo.png" | prepend: site.baseurl }}" class="u-pull-right" alt="Jin-Ho King, Attorney at Law"/>
          </a>
          {% include menu.html %}
          <h1 class="post-title">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          {{ content }}
        </div>
        <div class="four columns">
          
        </div>
      </div>





      {% include footer.html %}

    </div>

  </body>

</html>
